<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; 2018 YouTubeMirror.com
    <span class="pull-right">
      Powered by <a href="http://gobuffalo.io" target="_blank">gobuffalo.io</a>
    </span>
    </p>
  </div>
</footer>
