<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">YouTubeMirror.com</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= if (current_user) { %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.Name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/logout" data-method="DELETE">Logout</a></li>
          </ul>
        </li>
        <% } else { %>
          <li class="dropdown">
            <a href="/auth/gplus/"><i class="fa fa-google" aria-hidden="true"></i></a>
          </li>
        <% } %>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
